.idea

02_intro_javascript/.idea
02_intro_javascript/node_modules

03_counter_app_vite/.idea
03_counter_app_vite/node_modules

03_counter_app_cra/.idea
03_counter_app_cra/node_modules

03_counter_app_pruebas/.idea
03_counter_app_pruebas/node_modules
03_counter_app_pruebas/yarn-error.log
03_counter_app_pruebas/test/__snapshots__

04_gift_expert_app/.idea
04_gift_expert_app/node_modules
04_gift_expert_app/dist